{% extends 'base.html.twig' %}

{% block title %}Ajouter un contact{% endblock %}

{% block body %}
    <h2>Ajouter un contact</h2>
{% endblock %}

{% block stylesheets %}
    {#<link rel="stylesheet" href="{{ asset('css/contact-add.css') }}">#}
    {#<style>
        body {
            background-color: red;
        }
    </style>#}
{% endblock %}
